@use '../../sass/base';

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: min(10%, 3em);
    border-radius: 10px;
    background-color: base.$white;

    &__container {  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1.75rem;
        column-gap: 2.63rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-radius: 1rem;
        
        @media screen and (min-width: base.$m) {
            flex-direction: row;
            align-items: stretch;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    &__number {
        font-size: base.$font-size-lg;

        @media screen and (min-width: base.$s) {
            font-size: base.$font-size-xl;
        }
    }

    hr {
        margin-top: 1.375rem;
        width: 4.75rem;
        color: base.$dark-gray;

        @media screen and (min-width: base.$m) {
            margin: 0;
            width: 0;
        }
    }
}