@use '../../sass/base';

.reward {
    border: 3px solid base.$light-gray;
    border-radius: 10px;

    &--disabled {
        opacity: 0.4;
    }

    &--selected {
        border: 4px solid base.$moderate-cyan;
    }

    &__container {
        padding: 1.75em;

        @media screen and (min-width: base.$m) {
            display: grid;  
            grid-template-columns: repeat(12, 1fr);
            align-items: center;
        }
    }

    &__header {
        display: flex;
        column-gap: 1em;
        grid-column: 1 / 10;
        font-size: base.$font-size-sm;

        @media screen and (min-width: base.$m) {
            column-gap: 2em;
        }
    }

    &__input {
        width: 1.5em;
        color: base.$moderate-cyan;
    }

    &__label {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: base.$m) {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
    }

    &__pledge {
        color: base.$moderate-cyan;
        font-weight: 500;
    }

    &__description {
        margin: 2rem auto;
        grid-column: 2 / -1;
    }

    &__left {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        grid-column: 12/13;
        grid-row: 1/2;

        &--hidden {
            display: none;
        }
    }

    &__number {
        font-size: base.$font-size-lg;
    }
}