@use '../../sass/base';

.nav {
    display: flex;
    justify-content: space-between;
    position: relative; /*Needed for positioning mobile menu*/
    z-index: 100;
    padding: 2.25rem 1.5rem;
    margin: 0 auto;

    @media screen and (min-width: base.$m) {
        padding: 3rem; 
    }

    @media screen and (min-width: base.$l) {
        padding: 3rem 0;
        max-width: 80%;
    }
}

.menu-overlay {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(180deg,  rgba(0, 0, 0, 0.5) 30%, transparent);

    @media screen and (min-width: base.$m) {
        display: none;
    }
}

.hamburger-logo, .close-icon {
    cursor: pointer
}

@media screen and (min-width: base.$m) {
    .hamburger-logo {
        display: none;
    }

    .close-icon {
        display: none;
    }
}